extends main

mixin gallery_image(img)
	div.gallery_module(style="width:290px;")
		a.cboxElement(href="#{img.url}")
			img(src="#{img.url}",style="max-width:260px;max-height:204px;")
	p
		i.
			by #{img.username}&nbsp;&nbsp;
		a(href="/viewimage/#{img.id}").
			#{img.numcomments} comments
		| &nbsp;&nbsp;
	div(style="margin-bottom:40px")

block content
	div#main.round_8.clearfix
		div.green.page_title.round_6
			if canupload
				input.fancy.green(type="button", value="Upload Image", style="float:right", onclick="sub('upload')")
			h1.replace Gallery
		div#col1.col_290(style="overflow:hidden; width: 283px; margin-bottom: 5px;")
			- var c = 0
			each img in images
				- if ((c % 3) == 0) {
					+gallery_image(img)
				- }
				- c++
			- if (c > 0) {
			a.infinite
			- }
		div#col2.col_290(style="overflow:hidden; width: 283px; margin-bottom: 5px;")
			- var c = 0
			each img in images
				- if ((c % 3) == 1) {
					+gallery_image(img)
				- }
				- c++
			- if (c > 0) {
			a.infinite
			- }
		div#col3.col_290(style="overflow:hidden; width: 283px; margin-bottom: 5px;")
			- var c = 0
			each img in images
				- if ((c % 3) == 2) {
					+gallery_image(img)
				- }
				- c++
			- if (c > 0) {
			a.infinite
			- }
		div.clear

block subs
	+state('page', page)
	+trigger('infinite', function() {
		var sem;
		if (sem = qsemaphore("infiniteScroll")) {
			var page = parseInt(state('page')) + 1;
			setState('page', page);
			$.get("/ajax/gallery/" + page).success(function(data) {
				var parsed = $.parseHTML(data);
				$("a.infinite").remove();
				$("#col1").append($(parsed).find('#col1').html());
				$("#col2").append($(parsed).find('#col2').html());
				$("#col3").append($(parsed).find('#col3').html());
				sem.release();
			}).error(function() {
				// keep it locked, we errored anyway
				// sem.release();
			})
		}
	})
	+sub('upload', function(obj) {
		var uploader = new qdragdrop("/uploadimage");
		var dialog = new qdialog("Upload Image", "Drop a new gallery image anywhere on this page.", [{
								text: "Cancel",
								click: function() {
									dialog.close();
								}
							}], uploader.end);
		uploader.on("uploading", function() {
			dialog.info("Uploading...", "ui-icon ui-icon-arrowreturn-1-n");
		});
		uploader.on("success", function(data) {
			dialog.info(false);
			dialog.img(data.thumb140);
			dialog.buttons([{
				text: "Cancel",
				class: 'cancelButton',
				click: function() {
					dialog.close();
				}
			},{
				text: "Save Changes",
				click: function() {
					dialog.close();

					$.ajax({
						url: "/gallery/upload",
						data: {
							attachment: data.id,
							csrf: getCSRF()
						},
						type: "POST",
						success: function() {
							getPage('/gallery/');
						},
						error: function() {
							noticebox("Error! Image wasn't uploaded.");
						}
					})
				}
			}]);
		});
		uploader.on("error", function(error) {
			dialog.info(error, 'ui-icon ui-icon-close');
		});

		return false;
	})