mixin sub(anchor, code)
  != "subHooks['" + anchor + "'] = "
  != code
  != ";"

- if (__REQUEST_TYPE != 'ajax') {
doctype 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='quibs,first,church,grant')
    meta(name='description', content='The First Church of Quibs is a modern church for the celebration of our deity Quibs.')
    meta(name='robots', content='index, follow')

    link(rel='stylesheet', type="text/css", href='/css/style.css')
    link(rel='stylesheet', type="text/css", href='/css/default.css')
    link(rel='stylesheet', type="text/css", href='/css/nivo-slider.css', media="screen")
    link(rel="stylesheet", type="text/css", href="/css/jquery.gritter.css")
    link(rel="stylesheet", type="text/css", href="/css/colorbox.css")
    link(rel="stylesheet", type="text/css", href="/css/default.min.css", media="all")

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js")
    script(type="text/javascript", src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js")
    script(type="text/javascript", src="/js/jquery.gritter.min.js")
    script(type="text/javascript", src="/js/cufon-yui.js")
    script(type="text/javascript", src="/js/Museo.font.js")
    script(type="text/javascript", src="/js/Museo_Sans.font.js")
    script(type="text/javascript", src="/js/supersized.3.1.3.core.min.js")
    script(type="text/javascript", src="/js/superfish-compile.js")
    script(type="text/javascript", src="/js/jquery.nivo.slider.pack.js")
    script(type="text/javascript", src="/js/jquery.tinycarousel.min.js")
    script(type="text/javascript", src="/js/jquery.colorbox.js")
    script(type="text/javascript", src="/js/jquery.tweet.js")
    script(type="text/javascript", src="/js/jquery.history.js")
    script(type="text/javascript", src="/js/jquery.sceditor.bbcode.min.js")

    script(type="text/javascript", src="/js/p2.js?rr")

    style.
      #sun {
        display:none;
        position:fixed;
        width:100px;
        height:100px;
        z-index:-5;
        cursor:pointer;
      }
      #rainbow {
        display:none;
        position:fixed;
        width:100px;
        height:100px;
        z-index:-5;
        cursor:pointer;
      }

    title The First Church of Quibs - #{title}
    link(rel="shortcut icon", href="/favicon.ico")
  body
    div#content-wrapper
      if __AUTH_LOGGED_IN
        div#sun(onclick="getPage('/panel')")
      if __AUTH_USERDATA.grp == 3
        div#rainbow(onclick="getPage('/admin')")
      div#container
        div#header.clearfix
          div#logo
            a(href='/')
              img(src='/img/logo.png')
          ul.sf-menu
            li: a(href='/fund') Fund
            li: a(href='/grants') Grant
            li: a(href='/events') Events
            li
              a(href='#') Blogs
              ul
                each blog in main_blogs
                  li: a(href='/blog/#{blog.id}') #{blog.name}
            li
              a(href='#') Other
              ul
                li: a(href='/clubs') Club Hub
                li: a(href='/gallery') Gallery
                li: a(href='/quotes') Testimonials

        center
          div#loadingcontent.loader(style='display:none')
            span.letter L
            span.letter O
            span.letter A
            span.letter D
            span.letter I
            span.letter N
            span.letter G
            span.letter .
            span.letter .
            span.letter .

        div#ajax-current-page(style='display:none', quib-curpage='#{__REQUEST_URL}')

        - if (_isset(msg)) {
        div#notice-box.round_8.clearfix(style='display:block')
          p#notice-content(style='margin-bottom: 10px')= msg
        - } else {
        div#notice-box.round_8.clearfix(style='display:none')
          p#notice-content(style='margin-bottom: 10px')
        - }

        div#pagecontent
          block content

        div#footer.round_8.clearfix
          div.col_201
            h4.replace Latest News
            ul.bullet-list
              li: a(href='/post/49') Radio Quibs Mockups
          div.col_201
            h4.replace Contact
            address
              | 9520 Tarbutton Rd<br />
              | South Vienna, OH 45369
            a#modalmap(href='#') Map it!
          div.col_201
            if __AUTH_LOGGED_IN
              h4.replace Welcome, #{__AUTH_USERDATA.username}!
              ul.bullet-list
                li: a(href='/panel') Member panel
                li: a(href='/logout') Log out
                if __AUTH_USERDATA.grp == 3
                  li: a(href='/admin') Admin panel
            else
              h4.replace Welcome, Guest!
              ul.bullet-list
                li: a(href='/register') Register
                li: a(href='/login') Log in
          div.col_240
            h4.replace New Members
            ul.bullet-list
              each usr in main_lastusers
                li= usr.username
          div#footer-bottom
            div#toTop.left Back to Top
            div#footer-note.right
              small
                | &copy;2013 <strong>First Church of Quibs</strong>, building a better community for our children.
    div#preloadedImages
    script.
      $(document).ready(function() {
        onPageLoad(false, window.location.hash);
        if ($('#sun').length > 0)
          setInterval('setSun();', 500);
        if ($('#rainbow').length > 0)
          setInterval('setRainbow();', 500);
        
      });

    != "<script>"
    block subs
    != "</script>"


- } else { // else __REQUEST_TYPE == ajax
script.
  $('#ajax-current-page').attr('quib-curpage', '#{__REQUEST_URL}');
  window.History.pushState({caused:true}, 'The First Church of Quibs - #{title}', '#{__REQUEST_URL}');

- if (_isset(msg)) {
script.
  redirecting = false;
  $('#notice-content').html('#{msg}');
  $('#notice-box').css('display', 'block')
- } else {
script.
  if (!redirecting) {
    $('#notice-content').html('');
    $('#notice-box').css('display', 'none')
  } else {
    redirecting = false;
  }
- }

!= "<script>subHooks = {}; "
block subs
!= "</script>"

block content
- }