extends ../main
include ../mixins/blogpost

block content
	div#main.round_8.clearfix
		div.page_title.round_6
			h1.replace
				a#blog-title(href='/blog/#{_slug(blogdata.id, blogdata.name)}', quib-id="#{blogdata.id}") Blog: #{blogdata.name}
		div#postdiv(style="float:right;margin-right:20px")
			if canedit
				a(do="avatar",href="#")
					img#blogicon(src="#{_attachment(blogdata['140x140'])}", width="140px", height="140px")
				h5
					a(href="/blog/#{blogdata.id}/newpost",style="text-decoration:underline") Submit Post
			else
				a: img#blogicon(src="#{_attachment(blogdata['140x140'])}", width="140px", height="140px")
		div#content.left
			each post in posts
				+blogpost(post, canedit)
				hr

		div.clear
		block blogbottom

block append subs
	+sub("delete", function(obj) {
		qconfirm("Are you sure you want to delete this post?", function() {
			getPage("/post/" + $(obj).attr('quib-id') + "/delete") // maybe ajax?
		})
		return false;
	})
	+sub("edit", function(obj) {
		$("#post_" + $(obj).attr('quib-id') + " .bbcode").css('display', 'none');
		$("#post_" + $(obj).attr('quib-id') + " form").css('display', 'block');
		$("#post_" + $(obj).attr('quib-id') + " textarea").sceditor({
			plugins: "bbcode",
			style: "/css/default.min.css",
			toolbar: "bold,italic,underline,strike|left,center,right|size,color,removeformat|orderedlist,bulletlist,code,quote|image,link,youtube,source"
		});
		return false;
	})
	+sub("cancel", function(obj) {
		obj = $(obj).closest('form');
		$("#post_" + $(obj).attr('quib-id') + " .bbcode").css('display', 'block');
		$("#post_" + $(obj).attr('quib-id') + " form").css('display', 'none');
	})
	+sub("avatar", function(obj) {
		// make entire body drag-and-droppable
		// TODO: generalize this
		var o = $("body");

		var block = function(e) {
			e.stopPropagation()
			e.preventDefault()
		}

		var stopDrag = function() {
			o.off("dragenter")
			o.off("dragover")
			o.off("drop")
		}

		var dialog = new qdialog("Change Blog Image", "Drag a new blog image anywhere on this page.", [{
								text: "Cancel",
								click: function() {
									dialog.close();
								}
							}], stopDrag);

		var onDrop = function(e) {
			block(e)

			if ((e.originalEvent.dataTransfer == undefined) || (e.originalEvent.dataTransfer.files.length == 0)) {
				return; // ???
			}

			var file = e.originalEvent.dataTransfer.files[0];

			var fd = new FormData();
			fd.append('file', file);

			dialog.info("Uploading...", "ui-icon ui-icon-arrowreturn-1-n");

			var jqXHR = $.ajax({
				xhr: function() {
					var xhrobj = $.ajaxSettings.xhr();
					if (xhrobj.upload) {
						xhrobj.upload.addEventListener('progress', function(event) {
							var percent = 0;
	                        var position = event.loaded || event.position;
	                        var total = event.total;
	                        if (event.lengthComputable) {
	                            percent = Math.ceil(position / total * 100);
	                        }

	                        //console.log("percent uploaded " + percent);
						})
					}
					return xhrobj;
				},
				url: "/uploadimage",
				type: "POST",
				contentType: false,
				processData: false,
				cache: false,
				data: fd,
				dataType: "json",
				success: function(data) {
					console.log(data);
					if (data.path) {
						dialog.info(false);
						dialog.img(data.path);
						dialog.buttons([{
							text: "Cancel",
							class: 'cancelButton',
							click: function() {
								dialog.close();
							}
						},{
							text: "Save Changes",
							click: function() {
								dialog.close();

								$.ajax({
									url: "/blog/" + $("#blog-title").attr('quib-id') + "/setimage",
									data: {
										attachment: data.id
									},
									type: "POST",
									success: function() {
										$("#blogicon").attr('src', data.path);
									},
									error: function() {
										noticebox("Blog image wasn't updated.");
									}
								})
							}
						}]);
					} else {
						dialog.info("Upload failed.", 'ui-icon ui-icon-close');
					}
				},
				error: function() {
					dialog.info("Upload failed.", 'ui-icon ui-icon-close');
				}
			});
		}

		o.on("dragenter", block)
		o.on("dragover", block)
		o.on("drop", onDrop)

		return false;
	})
