extends ../main
include ../mixins/blogpost

block content
	div#main.round_8.clearfix
		div.page_title.round_6
			h1.replace
				a#blog-title(href='/blog/#{_slug(blogdata.id, blogdata.name)}', quib-id="#{blogdata.id}") Blog: #{blogdata.name}
		div#postdiv(style="float:right;margin-right:20px")
			if canedit
				a(do="avatar",href="#")
					img#blogicon(src="#{_attachment(blogdata['140x140'], 140)}", width="140px", height="140px")
				h5
					a(href="/blog/#{blogdata.id}/newpost",style="text-decoration:underline") Submit Post
			else
				a: img#blogicon(src="#{_attachment(blogdata['140x140'], 140)}", width="140px", height="140px")
		div#content.left
			each post in posts
				+blogpost(post, canedit)
				hr

		div.clear
		block blogbottom

block append subs
	+sub("delete", function(obj) {
		qconfirm("Are you sure you want to delete this post?", function() {
			getPage("/post/" + $(obj).attr('quib-id') + "/delete", {}) // maybe ajax?
		})
		return false;
	})
	+sub("edit", function(obj) {
		$("#post_" + $(obj).attr('quib-id') + " .bbcode").css('display', 'none');
		$("#post_" + $(obj).attr('quib-id') + " form").css('display', 'block');
		$("#post_" + $(obj).attr('quib-id') + " textarea").qeditor().init();
		return false;
	})
	+sub("cancel", function(obj) {
		obj = $(obj).closest('form');
		$("#post_" + $(obj).attr('quib-id') + " .bbcode").css('display', 'block');
		$("#post_" + $(obj).attr('quib-id') + " form").css('display', 'none');
	})
	+sub("avatar", function(obj) {
		var uploader = new qdragdrop("/uploadimage");
		var dialog = new qdialog("Change Blog Image", "Drop a new blog image anywhere on this page.", [{
								text: "Cancel",
								click: function() {
									dialog.close();
								}
							}], uploader.end);
		uploader.on("uploading", function() {
			dialog.info("Uploading...", "ui-icon ui-icon-arrowreturn-1-n");
		});
		uploader.on("success", function(data) {
			dialog.info(false);
			dialog.img(data.thumb140);
			dialog.buttons([{
				text: "Cancel",
				class: 'cancelButton',
				click: function() {
					dialog.close();
				}
			},{
				text: "Save Changes",
				click: function() {
					dialog.close();

					$.ajax({
						url: "/blog/" + $("#blog-title").attr('quib-id') + "/setimage",
						data: {
							attachment: data.id,
							csrf: getCSRF()
						},
						type: "POST",
						success: function() {
							$("#blogicon").attr('src', data.thumb140);
						},
						error: function() {
							noticebox("Error! Blog image wasn't updated.");
						}
					})
				}
			}]);
		});
		uploader.on("error", function(error) {
			dialog.info(error, 'ui-icon ui-icon-close');
		});

		return false;
	})
